
[submodule "Sources/Engine/Box/Vendor/fast_obj"]
	path = Sources/Engine/Box/Vendor/fast_obj
	url = https://github.com/pepeien/fast_obj.git
[submodule "Sources/Engine/Box/Vendor/freetype"]
	path = Sources/Engine/Box/Vendor/freetype
	url = https://github.com/pepeien/freetype.git
[submodule "Sources/Engine/Core/Vendor/base64"]
	path = Sources/Engine/Core/Vendor/base64
	url = https://github.com/pepeien/base64.git
[submodule "Sources/Engine/Core/Vendor/earcut"]
	path = Sources/Engine/Core/Vendor/earcut
	url = https://github.com/pepeien/earcut.hpp.git
[submodule "Sources/Engine/Core/Vendor/glm"]
	path = Sources/Engine/Core/Vendor/glm
	url = https://github.com/pepeien/glm.git
[submodule "Sources/Engine/Core/Vendor/pugixml"]
	path = Sources/Engine/Core/Vendor/pugixml
	url = https://github.com/pepeien/pugixml.git
[submodule "Sources/Engine/Kerb/Vendor/JoltPhysics"]
	path = Sources/Engine/Kerb/Vendor/JoltPhysics
	url = https://github.com/pepeien/JoltPhysics
[submodule "Sources/Engine/Runtime/Vendor/SDL"]
	path = Sources/Engine/Runtime/Vendor/SDL
	url = https://github.com/pepeien/SDL.git
[submodule "Sources/Engine/Screech/Vendor/miniaudio"]
	path = Sources/Engine/Screech/Vendor/miniaudio
	url = https://github.com/pepeien/miniaudio.git
