# User-specific files
*.env.*
.[Cc]ache/*

# Build results
[Bb]in/*
[Bb]uild/*
__pycache__/*

# Microsoft Fakes
.vs/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Ignore VS project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
