[submodule "Sources/Vendor/imgui"]
	path = Sources/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Sources/Editor/Vendor/imgui"]
	path = Sources/Editor/Vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
