BasedOnStyle: InheritParentConfig

# Alignment
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignFunctionDeclarations: false

AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never