name: Documentation
on:
    push:
        branches: [master]
        paths:
            - 'Includes/Chicane/**.hpp'
            - 'Scripts/Documentation.py'
            - 'Doxyfile'
    workflow_dispatch:
jobs:
    build:
        runs-on: ubuntu-22.04
        permissions:
            contents: write
        defaults:
            run:
                working-directory: ./Scripts
        steps:
            - name: Setup Checkout
              uses: actions/checkout@v6

            - name: Setup Python
              uses: actions/setup-python@v6
              with:
                  python-version: '3.13'

            - name: Build XML
              uses: mattnotmitt/doxygen-action@1.12.0

            - name: Fix permissions
              run: |
                sudo chown -R $USER:$USER .
                chmod -R 755 .

            - name: Cleanup References
              run: rm -rf .docs/references

            - name: Build References
              run: bash Documentation

            - name: Commit
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                branch: master
                commit_message: 'Updated documentation'
                file_pattern: '.docs/*.json'
                skip_dirty_check: false
                skip_fetch: false
                skip_checkout: false
